@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Fascinate+Inline&family=Kumar+One+Outline&family=Bungee+Outline&family=Luckiest+Guy&family=Montserrat:wght@900&family=Roboto+Slab&family=Tillana:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 0;
  background-color: #3a3a3a;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body nav.fixed-top {
  width: 100%;
  min-height: 4rem;
  border-bottom: 0.2rem solid #dcdcdc;
  z-index: 2;
}

body nav.fixed-top .container-fluid .navbar-brand {
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'Fascinate Inline', cursive;
}

body nav.fixed-top .container-fluid button {
  font-size: 1.25rem;
  width: 3rem;
  height: 2.75rem;
  outline: none;
  overflow: hidden;
}

body nav.fixed-top .container-fluid button i {
  position: absolute;
  top: 1.375rem;
  right: 1.65rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body nav.fixed-top .container-fluid button i.fa-times {
  display: none;
  right: 1.75rem;
}

body ul.card#menu {
  position: fixed;
  width: 75vw;
  z-index: 1;
  top: -12rem;
  left: 50%;
  padding: 1rem 1rem 0 1rem;
  background-color: #dcdcdc;
  border-radius: 0.5rem;
  border: 0.2rem solid #212529;
  padding: 5rem 0 1rem 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body ul.card#menu::-webkit-scrollbar {
  display: none;
}

body ul.card#menu li {
  list-style: none;
  text-align: right;
  width: 100%;
}

body ul.card#menu li a {
  text-decoration: none;
  color: #212529;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  border-top: 0.1rem solid #212529;
}

body ul.card#menu li a.active, body ul.card#menu li a:hover {
  color: #fff;
  background-color: #0d6efd;
  border-top: 0.2rem solid #0c56c4;
  border-bottom: 0.2rem solid #0c56c4;
}

body nav.sticky-bottom {
  width: 100%;
  height: 4rem;
  border-top: 0.2rem solid #dcdcdc;
  margin-bottom: 0;
  border-bottom: none;
}

body #share {
  position: fixed;
  left: -6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 25rem;
  width: 7rem;
  border-radius: 0 0.5rem 0.5rem 0;
  z-index: 99;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem #3d3d3d;
          box-shadow: 0.1rem 0.1rem 0.2rem #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body #share i {
  color: #696969;
  font-size: 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
  position: absolute;
  margin-left: 6.75rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

body #share img {
  width: 5rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

body #share img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

body #share:hover {
  left: 0;
}

body #share:hover i {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .head {
  background-color: #3a3a3a;
}

body .head #img {
  height: 100vh;
  background-image: url("https://wish-n-celebrate.github.io/IMAGES/home1.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body .head h1#title {
  position: absolute;
  margin-top: -3.5rem;
  font-size: 2rem;
  margin-left: 2rem;
  color: #dcdcdc;
  font-family: 'Bungee Outline', cursive;
}

body .head h1#title span {
  font-size: 3rem;
}

body .head .SkewedOne {
  position: absolute;
  bottom: -100%;
  width: 100%;
  left: 50%;
  height: 100%;
  background-color: #3d3d3d;
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

body .head .SkewedTwo {
  position: absolute;
  bottom: -100%;
  width: 100%;
  right: 50%;
  height: 100%;
  background-color: #3d3d3d;
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

body .head div.body {
  padding: 1rem 2rem 1rem 2rem;
}

body .head div.body span.btn {
  padding: 0 2rem 0 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

body .head div.body hr {
  color: #dcdcdc;
}

body .head div.body span {
  color: gainsboro;
  font-family: 'Tillana', cursive;
  font-size: 1.5rem;
}

body .main {
  height: auto;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3a3a3a;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .main .row .card {
  height: auto;
  padding: 1rem 1rem 0 1rem;
  background-color: #dcdcdc;
  border-radius: 0.5rem;
  border: 0.2rem solid #212529;
  width: 100%;
  margin-bottom: 1.5rem;
}

body .main .row .card img {
  border-radius: 0.2rem;
  border: 0.1rem solid #3a3a3a;
}

body .main .row .card p {
  outline: none;
  border-radius: 0.2rem;
  border: 0.1rem solid #0c56c4;
}
/*# sourceMappingURL=style.css.map */