@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Fascinate+Inline&family=Kumar+One+Outline&family=Luckiest+Guy&family=Montserrat:wght@900&family=Roboto+Slab&family=Tillana:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-background: #31037D;
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #D49C3D;
  --color-red: #D14B3D;
  --color-violet: #CF52EB;
  --color-blue: #44A3F7;
  --color-green: #5ACB3C;
  --color-yellow: #DEBF40;
  --color-foreground: var(--color-white);
  --font-name: Righteous;
}

#h1 {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7rem;
  font-family: var(--font-name);
}

.c-rainbow {
  text-align: center;
  counter-reset: rainbow;
  position: relative;
  display: block;
  font-family: "Luckiest Guy", cursive;
  list-style: none;
  z-index: 9;
  padding: 0;
  margin: 0;
}

.c-rainbow__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow;
  font-size: 3rem;
  color: var(--text-color);
  text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: rainbow 1.5s ease-in-out infinite;
          animation: rainbow 1.5s ease-in-out infinite;
}

.c-rainbow__layer:nth-child(1) {
  -webkit-animation-delay: calc( 1 / var(--delay) * 1s);
          animation-delay: calc( 1 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 1);
  z-index: -10;
}

.c-rainbow__layer:nth-child(2) {
  -webkit-animation-delay: calc( 2 / var(--delay) * 1s);
          animation-delay: calc( 2 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 2);
  z-index: -20;
}

.c-rainbow__layer:nth-child(3) {
  -webkit-animation-delay: calc( 3 / var(--delay) * 1s);
          animation-delay: calc( 3 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 3);
  z-index: -30;
}

.c-rainbow__layer:nth-child(4) {
  -webkit-animation-delay: calc( 4 / var(--delay) * 1s);
          animation-delay: calc( 4 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 4);
  z-index: -40;
}

.c-rainbow__layer:nth-child(5) {
  -webkit-animation-delay: calc( 5 / var(--delay) * 1s);
          animation-delay: calc( 5 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 5);
  z-index: -50;
}

.c-rainbow__layer:nth-child(6) {
  -webkit-animation-delay: calc( 6 / var(--delay) * 1s);
          animation-delay: calc( 6 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 6);
  z-index: -60;
}

.c-rainbow__layer:nth-child(7) {
  -webkit-animation-delay: calc( 7 / var(--delay) * 1s);
          animation-delay: calc( 7 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 7);
  z-index: -70;
}

.c-rainbow__layer:not(:first-child) {
  position: absolute;
  top: 0;
}

.c-rainbow__layer--white {
  --text-color: var(--color-white);
}

.c-rainbow__layer--orange {
  --text-color: var(--color-orange);
}

.c-rainbow__layer--red {
  --text-color: var(--color-red);
}

.c-rainbow__layer--violet {
  --text-color: var(--color-violet);
}

.c-rainbow__layer--blue {
  --text-color: var(--color-blue);
}

.c-rainbow__layer--green {
  --text-color: var(--color-green);
}

.c-rainbow__layer--yellow {
  --text-color: var(--color-yellow);
}

@-webkit-keyframes rainbow {
  0%, 100% {
    -webkit-transform: translatey(var(--axis-y));
            transform: translatey(var(--axis-y));
  }
  50% {
    -webkit-transform: translatey(calc(var(--axis-y) * -1));
            transform: translatey(calc(var(--axis-y) * -1));
  }
}

@keyframes rainbow {
  0%, 100% {
    -webkit-transform: translatey(var(--axis-y));
            transform: translatey(var(--axis-y));
  }
  50% {
    -webkit-transform: translatey(calc(var(--axis-y) * -1));
            transform: translatey(calc(var(--axis-y) * -1));
  }
}

#h2 {
  position: relative;
  width: 100%;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Tillana', cursive;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  padding: 0;
  color: white;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}

h2 span {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  display: inline-block;
}

h2 span:first-child {
  -webkit-animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
          animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

h2 span:last-child {
  -webkit-animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
          animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@-webkit-keyframes bop {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bop {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bopB {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80%, 100% {
    -webkit-transform: scale(1) rotateZ(-3deg);
            transform: scale(1) rotateZ(-3deg);
  }
}

@keyframes bopB {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80%, 100% {
    -webkit-transform: scale(1) rotateZ(-3deg);
            transform: scale(1) rotateZ(-3deg);
  }
}

body {
  font-size: 62.5%;
  width: 100vh;
  background-color: rgba(255, 251, 0, 0.24);
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body #logo {
  position: fixed;
  display: block;
  cursor: pointer;
  z-index: 999;
  width: 22.5rem;
  background-color: #646464;
  height: 3rem;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.25rem 0 0.25rem 0;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Fascinate Inline', cursive;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem #000000;
          box-shadow: 0.2rem 0.2rem 0.5rem #000000;
}

body #logo .text-copy {
  font-family: 'Fascinate Inline', cursive;
  fill: none;
  color: #be3397;
  text-shadow: 0.1rem 0.1rem #c00050;
  font-size: 2rem;
  letter-spacing: normal;
  -webkit-animation: stroke-offset 5.5s ease-in-out infinite;
          animation: stroke-offset 5.5s ease-in-out infinite;
}

body #logo .text-copy:nth-child(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

body #logo .text-copy:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

body #logo .text-copy:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body #logo .text-copy:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

body #logo .text-copy:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

body #logo .text-copy:nth-child(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

body #logo .text-copy:nth-child(7) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

body #logo .text-copy:nth-child(8) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

body #logo .text-copy:nth-child(9) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

body #logo .text-copy:nth-child(10) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

body #logo .text-copy:nth-child(11) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

body #logo .text-copy:nth-child(12) {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

body #logo .text-copy:nth-child(13) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

body #logo .text-copy:nth-child(14) {
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}

body #logo .text-copy:nth-child(15) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

body #logo .text-copy:nth-child(16) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

@-webkit-keyframes stroke-offset {
  0% {
    color: #be3397;
    text-shadow: 0.1rem 0.1rem #c00050;
  }
  25% {
    color: #d40059;
    text-shadow: 0.1rem 0.1rem #eb0042;
  }
  50% {
    color: #ee0043;
    text-shadow: 0.1rem 0.1rem #fdb731;
  }
  75% {
    color: #fdb731;
    text-shadow: 0.1rem 0.1rem #be3397;
  }
  100% {
    color: #be3397;
    text-shadow: 0.1rem 0.1rem #c00050;
  }
}

@keyframes stroke-offset {
  0% {
    color: #be3397;
    text-shadow: 0.1rem 0.1rem #c00050;
  }
  25% {
    color: #d40059;
    text-shadow: 0.1rem 0.1rem #eb0042;
  }
  50% {
    color: #ee0043;
    text-shadow: 0.1rem 0.1rem #fdb731;
  }
  75% {
    color: #fdb731;
    text-shadow: 0.1rem 0.1rem #be3397;
  }
  100% {
    color: #be3397;
    text-shadow: 0.1rem 0.1rem #c00050;
  }
}

body ul.card#menu {
  position: fixed;
  z-index: 997;
  display: none;
  width: 0;
  height: 0;
  top: 0;
  left: 50%;
  padding: 1rem 1rem 0 1rem;
  background-color: #dcdcdc;
  padding: 5rem 0 1rem 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body ul.card#menu::-webkit-scrollbar {
  display: none;
}

body ul.card#menu li {
  list-style: none;
  text-align: right;
  width: 100%;
}

body ul.card#menu li a {
  text-decoration: none;
  color: #212529;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  border-top: 0.1rem solid #212529;
  border-bottom: 0.1rem solid #212529;
}

body ul.card#menu li a.active, body ul.card#menu li a:hover {
  color: #fff;
  background-color: #0d6efd;
  border-top: 0.2rem solid #0c56c4;
  border-bottom: 0.2rem solid #0c56c4;
}

body p.btn.btn.btn-danger#bix {
  position: fixed;
  z-index: 998;
  width: 0;
  left: 50%;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  display: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 1rem;
}

body marquee {
  height: 100vh;
  width: 8vw;
  position: fixed;
  top: 0;
}

body marquee .scr {
  width: 7.5vw;
}

body #m1 {
  left: 2vh;
}

body #m2 {
  right: 1.5vh;
}

body .bor {
  position: fixed;
  height: 100vh;
  width: 0.5rem;
  z-index: 2;
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), color-stop(firebrick), color-stop(#ffff84), to(firebrick));
  background-image: linear-gradient(to bottom, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick);
}

body #b1 {
  left: 0;
}

body #b2 {
  left: 12.5vw;
}

body #b3 {
  right: 12.5vw;
}

body #b4 {
  right: 0;
}

body #main, body #Ashish {
  height: 100vh;
  width: 75vw;
  z-index: 1;
  padding-bottom: 4rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: firebrick;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body #main::-webkit-scrollbar, body #Ashish::-webkit-scrollbar {
  display: none;
}

body #main img, body #Ashish img {
  position: relative;
  margin-top: 1rem;
}

body #main #is1, body #Ashish #is1 {
  height: 170vw;
  margin-top: -3rem;
  padding-top: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: 'Tillana', cursive;
}

@media (max-width: 550px) {
  body #main #is1, body #Ashish #is1 {
    height: 200vw;
  }
}

body #main #is1 h2, body #Ashish #is1 h2 {
  -webkit-transform: center rotateY(30deg);
          transform: center rotateY(30deg);
  -webkit-animation: 1s imgie ease-in-out infinite;
          animation: 1s imgie ease-in-out infinite;
}

@-webkit-keyframes imgie {
  from {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
  50% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
  }
  to {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

@keyframes imgie {
  from {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
  50% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
  }
  to {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

body #main #is2, body #Ashish #is2 {
  height: 40vw;
}

body #main #h3, body #Ashish #h3 {
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 1.75rem;
  padding: 0;
  font-family: 'Tillana', cursive;
  text-align: center;
  color: white;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
  -webkit-animation: bop1 1s ease-in-out infinite;
          animation: bop1 1s ease-in-out infinite;
}

@-webkit-keyframes bop1 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes bop1 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

body #main #h4, body #Ashish #h4 {
  text-align: center;
  margin: 0;
  width: 100%;
  font-family: 'Tillana', cursive;
  font-size: 1.75rem;
  padding: 0;
  text-align: center;
  color: white;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
  -webkit-animation: bop2 2s ease-in-out infinite;
          animation: bop2 2s ease-in-out infinite;
}

@-webkit-keyframes bop2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(-3deg);
            transform: scale(1) rotateZ(-3deg);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes bop2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(-3deg);
            transform: scale(1) rotateZ(-3deg);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

body #main #i2, body #Ashish #i2 {
  width: 50vw;
  margin-bottom: 1.5rem;
  -webkit-transform: center rotate(5deg);
          transform: center rotate(5deg);
  -webkit-animation: 1s imgei ease-in-out infinite;
          animation: 1s imgei ease-in-out infinite;
}

@-webkit-keyframes imgei {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes imgei {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

body #main #i1, body #Ashish #i1 {
  width: 50vw;
  -webkit-transform: center rotate(5deg);
          transform: center rotate(5deg);
  -webkit-animation: 1s imge ease-in-out infinite;
          animation: 1s imge ease-in-out infinite;
}

@-webkit-keyframes imge {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes imge {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

body #main #i3, body #Ashish #i3 {
  margin-top: 1.5rem;
  width: 50vw;
  margin-left: 12.5vw;
  -webkit-animation: 1s imge1 ease-in-out infinite;
          animation: 1s imge1 ease-in-out infinite;
}

@-webkit-keyframes imge1 {
  from {
    margin-top: 1.5rem;
  }
  50% {
    margin-top: 3rem;
  }
  to {
    margin-top: 1.5rem;
  }
}

@keyframes imge1 {
  from {
    margin-top: 1.5rem;
  }
  50% {
    margin-top: 3rem;
  }
  to {
    margin-top: 1.5rem;
  }
}

body #main #cl, body #Ashish #cl {
  position: relative;
  width: 75vw;
}

body #main #i4, body #Ashish #i4 {
  width: 90vw;
  height: 80vw;
  right: 0;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-animation: 1.5s imge2 ease-in-out infinite;
          animation: 1.5s imge2 ease-in-out infinite;
}

@-webkit-keyframes imge2 {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes imge2 {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

body #main #i6, body #Ashish #i6 {
  width: 60vw;
  margin-top: 11rem;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-animation: 1.5s imge3 ease-in-out infinite;
          animation: 1.5s imge3 ease-in-out infinite;
}

@media (max-width: 550px) {
  body #main #i6, body #Ashish #i6 {
    margin-top: 7rem;
  }
}

@-webkit-keyframes imge3 {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes imge3 {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

body #main #f, body #Ashish #f {
  text-align: center;
  margin: 2rem 0 0 0;
  width: 100%;
  font-size: 1.75rem;
  padding: 0;
  text-align: center;
  font-family: 'Tillana', cursive;
  color: white;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
  -webkit-animation: bop3 2s ease-in-out infinite;
          animation: bop3 2s ease-in-out infinite;
}

@-webkit-keyframes bop3 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(3deg);
            transform: scale(1) rotateZ(3deg);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes bop3 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(3deg);
            transform: scale(1) rotateZ(3deg);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

body #Ashish {
  top: 100vh;
}

body #form {
  margin: 7rem auto 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

body #form input {
  padding: 0 1vw 0 1vw;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  outline: none;
  width: 55vw;
  background-color: cyan;
  color: #004646;
  border: 0.2rem solid #004646;
  border-radius: 1.5rem 0 0 1.5rem;
}

body #form button {
  padding: 0 1vw 0 1vw;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  width: 15vw;
  background-color: #004646;
  border: 0.2rem solid cyan;
  outline: none;
  color: cyan;
  cursor: pointer;
  border-radius: 0 1.5rem 1.5rem 0;
}

body #share {
  position: fixed;
  left: 50%;
  overflow: hidden;
  height: 0rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 72.5vw;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
  bottom: 0;
  z-index: 99;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body #share::-webkit-scrollbar {
  display: none;
}

body #share p {
  font-size: 1.5rem;
  width: 65vw;
  padding: 1rem 0 1rem 0;
  text-align: center;
  font-family: 'Tillana', cursive;
}

body #share ul {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #share li {
  list-style: none;
  font-size: 3rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

body #share li:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

body #share li:active {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

body #share li a {
  text-decoration: none;
}

body #share li:nth-child(1) a {
  color: #25D366;
  text-decoration: none;
}

body #share li:nth-child(2) a {
  color: #0088CC;
  text-decoration: none;
}

body #share li:nth-child(3) a {
  color: #4267B2;
  text-decoration: none;
}

body #share li:nth-child(4) a {
  color: #1DA1F2;
  text-decoration: none;
}

body #share button {
  width: 75vw;
  border: none;
  background: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-size: 2.5rem;
  outline: none;
}

body #share button i {
  cursor: pointer;
}

body #share #acl {
  height: auto;
  display: none;
  padding: 1rem 1rem 0 1rem;
  background-color: #dcdcdc;
  border-radius: 0.5rem;
  border: 0.2rem solid #212529;
}

body #share #acl img {
  border-radius: 0.2rem;
  border: 0.1rem solid #3a3a3a;
}

body #share #acl .btn.btn-primary {
  border-radius: 0.2rem;
  border: 0.1rem solid #0c56c4;
}

body #share #acl span#p {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */