*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Fascinate+Inline&family=Kumar+One+Outline&family=Luckiest+Guy&family=Montserrat:wght@900&family=Roboto+Slab&family=Tillana:wght@600&display=swap');
$root: '.c-rainbow';
:root {
 --color-background: #31037D;
 --axis-x: 1px;
 --axis-y: 1rem;
 --delay: 10;
 --color-black: #000;
 --color-white: #fff;
 --color-orange: #D49C3D;
 --color-red: #D14B3D;
 --color-violet: #CF52EB;
 --color-blue: #44A3F7;
 --color-green: #5ACB3C;
 --color-yellow: #DEBF40;
 --color-foreground: var(--color-white);
 --font-name: Righteous;
}
#h1{
     width: 70vw;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 7rem;
     font-family: var(--font-name);
}
#{$root} {
     text-align: center;
 counter-reset: rainbow;
 position: relative;
 display: block;
 font-family: "Luckiest Guy", cursive;
 list-style: none;
 z-index: 9;
 padding: 0;
 margin: 0;
 &__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow; 
  font-size: 3rem;
  color: var(--text-color);
  text-shadow:
   -1px -1px 0 var(--color-black),  
    1px -1px 0 var(--color-black),
    -1px 1px 0 var(--color-black),
     1px 1px 0 var(--color-black),
     4px 4px 0 rgba(0, 0, 0, .2);
  animation: rainbow 1.5s ease-in-out infinite;
  
  @for $i from 1 through 7 {
   &:nth-child(#{$i}) {
    animation-delay: calc( #{$i} / var(--delay) * 1s);
    left: calc(var(--axis-x) * #{$i});
    z-index: -#{$i * 10};
   }
  }
  
  &:not(:first-child) {
   position: absolute;
   top: 0;
  }

  &--white  { --text-color: var(--color-white)}
  &--orange { --text-color: var(--color-orange)}
  &--red    { --text-color: var(--color-red)}
  &--violet { --text-color: var(--color-violet)}
  &--blue   { --text-color: var(--color-blue)}
  &--green  { --text-color: var(--color-green)}
  &--yellow { --text-color: var(--color-yellow)}
 }
}
@keyframes rainbow {
 0%, 100% {
  transform: translatey(var(--axis-y)); 
 }
 50% {
  transform: translatey(calc(var(--axis-y) * -1));
 }
}
#h2{
     position: relative;
     width: 100%;
     margin-top: 4rem;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Tillana', cursive;
   }
   h2{
        text-align: center;
     margin: 0;
     font-size: 2rem;
     padding: 0;
     color: white;
     text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
       0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
       0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
       -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
     span {
       transform: scale(0.9);
       display: inline-block;
     }
     span:first-child {
       animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
         alternate;
     }
     span:last-child {
       animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
         infinite alternate;
     }
   }
   @keyframes bop {
     0% {
       transform: scale(0.9);
     }
     50%,
     100% {
       transform: scale(1);
     }
   }
   @keyframes bopB {
     0% {
       transform: scale(0.9);
     }
     80%,100% {
       transform: scale(1) rotateZ(-3deg);
     }
   }
body{
     font-size: 62.5%;
     width: 100vh;
     background-color: rgba(255, 251, 0, 0.24);
     overflow: hidden;
     -ms-overflow-style: none;
     scrollbar-width: none;
     &::-webkit-scrollbar {
          display: none;
     }
     #logo{
          position: fixed;
          display: block;
          cursor: pointer;
          z-index: 999;
          width: 22.5rem;
          background-color: #646464;
          height: 3rem;
          top: 1rem;
          left: 50%;
          transform: translateX(-50%);
          padding: 0.25rem 0 0.25rem 0;
          text-align: center;
          user-select: none;
          font-family: 'Fascinate Inline', cursive;
          border-radius: 2.5rem;
          box-shadow: 0.2rem 0.2rem 0.5rem #000000;
          .text-copy{
               font-family: 'Fascinate Inline', cursive;
               fill: none;
               color: #be3397;
               text-shadow: 0.1rem 0.1rem #c00050;
               font-size: 2rem;
               letter-spacing: normal;
               animation: stroke-offset 5.5s ease-in-out infinite;
               &:nth-child(1){
                    animation-delay: 0;
               }
               &:nth-child(2){
                    animation-delay: 0.5s;
               }
               &:nth-child(3){
                    animation-delay: 1s;
               }
               &:nth-child(4){
                    animation-delay: 1.5s;
               }
               &:nth-child(5){
                    animation-delay: 2s;
               }
               &:nth-child(6){
                    animation-delay: 2.5s;
               }
               &:nth-child(7){
                    animation-delay: 3s;
               }
               &:nth-child(8){
                    animation-delay: 3.5s;
               }
               &:nth-child(9){
                    animation-delay: 4s;
               }
               &:nth-child(10){
                    animation-delay: 4.5s;
               }
               &:nth-child(11){
                    animation-delay: 5s;
               }
               &:nth-child(12){
                    animation-delay: 5.5s;
               }
               &:nth-child(13){
                    animation-delay: 6s;
               }
               &:nth-child(14){
                    animation-delay: 6.5s;
               }
               &:nth-child(15){
                    animation-delay: 7s;
               }
               &:nth-child(16){
                    animation-delay: 7.5s;
               }
               @keyframes stroke-offset{
                    0%{
                         color: #be3397;
                         text-shadow: 0.1rem 0.1rem #c00050;
                    }
                    25%{
                         color: #d40059;
                         text-shadow: 0.1rem 0.1rem #eb0042;
                    }
                    50%{
                         color: #ee0043;
                         text-shadow: 0.1rem 0.1rem #fdb731;
                    }
                    75%{
                         color: #fdb731;
                         text-shadow: 0.1rem 0.1rem #be3397;
                    }
                    100%{
                         color: #be3397;
                         text-shadow: 0.1rem 0.1rem #c00050;
                    }
               }
          }
     }
     ul.card#menu{
          position: fixed;
          z-index: 997;
          display: none;
          width: 0;
          height: 0;
          top: 0;
          left: 50%;
          padding: 1rem 1rem 0 1rem;
          background-color: #dcdcdc;
          padding: 5rem 0 1rem 0;
          transform: translate(-50%);
          transition: 2s ease-in-out;
          overflow-y: hidden;
          overflow-x: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
               display: none;
          }
          li{
               list-style: none;
               width: 100%;
               a{
                    text-decoration: none;
                    &.active button, &:hover button{
                         color:#fff;
                         background-color:#0d6efd;
                         border-top: 0.2rem solid #0c56c4;
                         border-bottom: 0.2rem solid #0c56c4;
                    }
                    button{
                         color: #212529;
                         text-align: right;
                         border: none;
                         height: 2.5rem;
                         width: 100%;
                         font-size: 1.5rem;
                         background-color: transparent;
                         font-family: 'Roboto', sans-serif;
                         border-top: 0.1rem solid #212529;
                         border-bottom: 0.1rem solid #212529;
                         span{
                              color: transparent;
                         }
                    }
               }
          }
     }
     p.btn.btn.btn-danger#bix{
          position: fixed;
          z-index: 998;
          width: 0;
          left: 50%;
          transition: 2s ease-in-out;
          display: none;
          transform: translateX(-50%);
          bottom: 1rem;
          border-radius: 1.5rem;
          color:#fff;
          width: 70vw;
          background-color:#dc3545;
          border: 0.2rem solid #cc091c;
          cursor: pointer;
          text-decoration: none;
          font-size: 1.5rem;
          padding: 0.75rem;
          text-align: center;
          margin: 1rem 0 0 0;
          &:hover{
               background-color: #d34e5b;
          }
     }
     marquee{
          height: 110vh;
          width: 8vw;
          z-index: 9;
          position: fixed;
          top: 0;
          .scr{
               width: 7.5vw;
          }
     }
     #m1{
          left: 2vh;
     }
     #m2{
          right: 1.5vh;
     }
     .bor{
          position: fixed;
          height: 100vh;
          width: 0.5rem;
          z-index: 2;
          top: 0;
          background-image: linear-gradient(to bottom, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick, #ffff84, firebrick);
     }
     #b1{
          left: 0;
     }
     #b2{
          left: 12.5vw;
     }
     #b3{
          right: 12.5vw;
     }
     #b4{
          right: 0;
     }
     #main{
          height: 100vh;
          width: 75%;
          z-index: 1;
          padding-bottom: 4rem;
          position: fixed;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: firebrick;
          overflow-x: hidden;
          overflow-y: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
               display: none;
          }
          img{
               position: relative;
               margin-top: 1rem;
          }
          #is1{
               height: 170vw;
               @media (max-width:550px) {
                    height: 200vw;
               }
               margin-top: -3rem;
               padding-top: 0;
               display: grid;
               place-items: center;
               font-family: 'Tillana', cursive;
               h2{
                    transform: center rotateY(30deg);
                    animation: 1s imgie ease-in-out infinite;
                    @keyframes imgie {
                         from{
                         transform: rotateY(30deg);
                         }
                         50%{
                         transform: rotateY(-30deg);
                         }
                         to{
                         transform: rotateY(30deg);
                         }
                    }
               }
          }
          #is2{
               height: 40vw;
          }
          #h3{
               text-align: center;
               margin: 0;
               width: 100%;
               font-size: 1.75rem;
               padding: 0;
               font-family: 'Tillana', cursive;
               text-align: center;
               color: white;
               text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
               animation: bop1 1s ease-in-out infinite;
               @keyframes bop1 {
                    0%{
                      transform: scale(0.9);
                    }
                    50%{
                      transform: scale(1);
                    }
                    100%{
                         transform: scale(0.9);
                    }
               }
          }
          #h4{
               text-align: center;
               margin: 0;
               width: 100%;
               font-family: 'Tillana', cursive;
               font-size: 1.75rem;
               padding: 0;
               text-align: center;
               color: white;
               text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
               animation: bop2 2s ease-in-out infinite;
               @keyframes bop2 {
                    0%{
                         transform: scale(0.9);
                    }
                    50%{
                         transform: scale(1) rotateZ(-3deg);
                    }
                    100%{
                         transform: scale(0.9);
                    }
               }
          }
          #i2{
               width: 50vw;
               margin-bottom: 1.5rem;
               transform: center rotate(5deg);
               animation: 1s imgei ease-in-out infinite;
               @keyframes imgei {
                    from{
                        transform: rotate(5deg);
                    }
                    50%{
                        transform: rotate(-5deg);
                    }
                    to{
                        transform: rotate(5deg);
                    }
               }
          }
          #i1{
               width: 50vw;
               transform: center rotate(5deg);
               animation: 1s imge ease-in-out infinite;
               @keyframes imge {
                    from{
                        transform: rotate(5deg);
                    }
                    50%{
                        transform: rotate(-5deg);
                    }
                    to{
                        transform: rotate(5deg);
                    }
               }
          }
          #i3{
               margin-top: 1.5rem;
               width: 50vw;
               margin-left: 12.5vw;
               animation: 1s imge1 ease-in-out infinite;
               @keyframes imge1 {
                    from{
                         margin-top: 1.5rem;
                    }
                    50%{
                         margin-top: 3rem;
                    }
                    to{
                         margin-top: 1.5rem;
                    }
               }
          }
          #cl{
               position: relative;
               width: 75vw;
          }
          #i4{
               width: 90vw;
               height: 80vw;
               right: 0;
               position: absolute;
               transform-origin: center;
               transform: rotate(-10deg);
               animation: 1.5s imge2 ease-in-out infinite;
               @keyframes imge2 {
                    from{
                         transform: rotate(-10deg);
                    }
                    50%{
                         transform: rotate(10deg);
                    }
                    to{
                         transform: rotate(-10deg);
                    }
               }
          }
          #i6{
               width: 60vw;
               margin-top: 11rem;
               transform-origin: center;
               @media (max-width:550px) {
                    margin-top: 7rem;
               }
               transform: rotate(10deg);
               animation: 1.5s imge3 ease-in-out infinite;
               @keyframes imge3 {
                    from{
                         transform: rotate(10deg);
                    }
                    50%{
                         transform: rotate(-10deg);
                    }
                    to{
                         transform: rotate(10deg);
                    }
               }
          }
          #f{
               text-align: center;
               margin: 2rem 0 0 0;
               width: 100%;
               font-size: 1.75rem;
               padding: 0;
               text-align: center;
               font-family: 'Tillana', cursive;
               color: white;
               text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
               animation: bop3 2s ease-in-out infinite;
               @keyframes bop3 {
                    0%{
                         transform: scale(0.9);
                    }
                    50%{
                         transform: scale(1) rotateZ(3deg);
                    }
                    100%{
                         transform: scale(0.9);
                    }
               }
          }
     }
     #Ashish{
          top: 1000vh;
          height: 100vh;
          width: 75%;
          z-index: 1;
          padding-bottom: 4rem;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background-color: firebrick;
          overflow-x: hidden;
          overflow-y: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
               display: none;
          }
          img{
               position: relative;
               margin-top: 1rem;
          }
          #is1{
               height: 170vw;
               @media (max-width:550px) {
                    height: 200vw;
               }
               margin-top: -3rem;
               padding-top: 0;
               display: grid;
               place-items: center;
               font-family: 'Tillana', cursive;
               h2{
                    transform: center rotateY(30deg);
                    animation: 1s imgie ease-in-out infinite;
                    @keyframes imgie {
                         from{
                         transform: rotateY(30deg);
                         }
                         50%{
                         transform: rotateY(-30deg);
                         }
                         to{
                         transform: rotateY(30deg);
                         }
                    }
               }
          }
          #is2{
               height: 40vw;
          }
          #h3{
               text-align: center;
               margin: 0;
               width: 100%;
               font-size: 1.75rem;
               padding: 0;
               font-family: 'Tillana', cursive;
               text-align: center;
               color: white;
               text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
               animation: bop1 1s ease-in-out infinite;
               @keyframes bop1 {
                    0%{
                      transform: scale(0.9);
                    }
                    50%{
                      transform: scale(1);
                    }
                    100%{
                         transform: scale(0.9);
                    }
               }
          }
          #h4{
               text-align: center;
               margin: 0;
               width: 100%;
               font-family: 'Tillana', cursive;
               font-size: 1.75rem;
               padding: 0;
               text-align: center;
               color: white;
               text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
               animation: bop2 2s ease-in-out infinite;
               @keyframes bop2 {
                    0%{
                         transform: scale(0.9);
                    }
                    50%{
                         transform: scale(1) rotateZ(-3deg);
                    }
                    100%{
                         transform: scale(0.9);
                    }
               }
          }
          #i2{
               width: 50vw;
               margin-bottom: 1.5rem;
               transform: center rotate(5deg);
               animation: 1s imgei ease-in-out infinite;
               @keyframes imgei {
                    from{
                        transform: rotate(5deg);
                    }
                    50%{
                        transform: rotate(-5deg);
                    }
                    to{
                        transform: rotate(5deg);
                    }
               }
          }
          #i1{
               width: 50vw;
               transform: center rotate(5deg);
               animation: 1s imge ease-in-out infinite;
               @keyframes imge {
                    from{
                        transform: rotate(5deg);
                    }
                    50%{
                        transform: rotate(-5deg);
                    }
                    to{
                        transform: rotate(5deg);
                    }
               }
          }
          #i3{
               margin-top: 1.5rem;
               width: 50vw;
               margin-left: 12.5vw;
               animation: 1s imge1 ease-in-out infinite;
               @keyframes imge1 {
                    from{
                         margin-top: 1.5rem;
                    }
                    50%{
                         margin-top: 3rem;
                    }
                    to{
                         margin-top: 1.5rem;
                    }
               }
          }
          #cl{
               position: relative;
               width: 75vw;
          }
          #i4{
               width: 90vw;
               height: 80vw;
               right: 0;
               position: absolute;
               transform-origin: center;
               transform: rotate(-10deg);
               animation: 1.5s imge2 ease-in-out infinite;
               @keyframes imge2 {
                    from{
                         transform: rotate(-10deg);
                    }
                    50%{
                         transform: rotate(10deg);
                    }
                    to{
                         transform: rotate(-10deg);
                    }
               }
          }
          #i6{
               width: 60vw;
               margin-top: 11rem;
               transform-origin: center;
               @media (max-width:550px) {
                    margin-top: 7rem;
               }
               transform: rotate(10deg);
               animation: 1.5s imge3 ease-in-out infinite;
               @keyframes imge3 {
                    from{
                         transform: rotate(10deg);
                    }
                    50%{
                         transform: rotate(-10deg);
                    }
                    to{
                         transform: rotate(10deg);
                    }
               }
          }
          #f{
               text-align: center;
               margin: 2rem 0 0 0;
               width: 100%;
               font-size: 1.75rem;
               padding: 0;
               text-align: center;
               font-family: 'Tillana', cursive;
               color: white;
               text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
               animation: bop3 2s ease-in-out infinite;
               @keyframes bop3 {
                    0%{
                         transform: scale(0.9);
                    }
                    50%{
                         transform: scale(1) rotateZ(3deg);
                    }
                    100%{
                         transform: scale(0.9);
                    }
               }
          }
     }
     #Manas{
          top: 2000vh;
          height: 100vh;
          width: 75%;
          z-index: 1;
          padding-bottom: 4rem;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background-color: firebrick;
          overflow-x: hidden;
          overflow-y: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
               display: none;
          }
          img{
               position: relative;
               margin-top: 1rem;
          }
          #is1{
               height: 170vw;
               @media (max-width:550px) {
                    height: 200vw;
               }
               margin-top: -3rem;
               padding-top: 0;
               display: grid;
               place-items: center;
               font-family: 'Tillana', cursive;
               h2{
                    transform: center rotateY(30deg);
                    animation: 1s imgie ease-in-out infinite;
                    @keyframes imgie {
                         from{
                         transform: rotateY(30deg);
                         }
                         50%{
                         transform: rotateY(-30deg);
                         }
                         to{
                         transform: rotateY(30deg);
                         }
                    }
               }
          }
          #is2{
               height: 40vw;
          }
          #h3{
               text-align: center;
               margin: 0;
               width: 100%;
               font-size: 1.75rem;
               padding: 0;
               font-family: 'Tillana', cursive;
               text-align: center;
               color: white;
               text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
               animation: bop1 1s ease-in-out infinite;
               @keyframes bop1 {
                    0%{
                      transform: scale(0.9);
                    }
                    50%{
                      transform: scale(1);
                    }
                    100%{
                         transform: scale(0.9);
                    }
               }
          }
          #h4{
               text-align: center;
               margin: 0;
               width: 100%;
               font-family: 'Tillana', cursive;
               font-size: 1.75rem;
               padding: 0;
               text-align: center;
               color: white;
               text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
               animation: bop2 2s ease-in-out infinite;
               @keyframes bop2 {
                    0%{
                         transform: scale(0.9);
                    }
                    50%{
                         transform: scale(1) rotateZ(-3deg);
                    }
                    100%{
                         transform: scale(0.9);
                    }
               }
          }
          #i2{
               width: 50vw;
               margin-bottom: 1.5rem;
               transform: center rotate(5deg);
               animation: 1s imgei ease-in-out infinite;
               @keyframes imgei {
                    from{
                        transform: rotate(5deg);
                    }
                    50%{
                        transform: rotate(-5deg);
                    }
                    to{
                        transform: rotate(5deg);
                    }
               }
          }
          #i1{
               width: 50vw;
               transform: center rotate(5deg);
               animation: 1s imge ease-in-out infinite;
               @keyframes imge {
                    from{
                        transform: rotate(5deg);
                    }
                    50%{
                        transform: rotate(-5deg);
                    }
                    to{
                        transform: rotate(5deg);
                    }
               }
          }
          #i3{
               margin-top: 1.5rem;
               width: 50vw;
               margin-left: 12.5vw;
               animation: 1s imge1 ease-in-out infinite;
               @keyframes imge1 {
                    from{
                         margin-top: 1.5rem;
                    }
                    50%{
                         margin-top: 3rem;
                    }
                    to{
                         margin-top: 1.5rem;
                    }
               }
          }
          #cl{
               position: relative;
               width: 75vw;
          }
          #i4{
               width: 90vw;
               height: 80vw;
               right: 0;
               position: absolute;
               transform-origin: center;
               transform: rotate(-10deg);
               animation: 1.5s imge2 ease-in-out infinite;
               @keyframes imge2 {
                    from{
                         transform: rotate(-10deg);
                    }
                    50%{
                         transform: rotate(10deg);
                    }
                    to{
                         transform: rotate(-10deg);
                    }
               }
          }
          #i6{
               width: 60vw;
               margin-top: 11rem;
               transform-origin: center;
               @media (max-width:550px) {
                    margin-top: 7rem;
               }
               transform: rotate(10deg);
               animation: 1.5s imge3 ease-in-out infinite;
               @keyframes imge3 {
                    from{
                         transform: rotate(10deg);
                    }
                    50%{
                         transform: rotate(-10deg);
                    }
                    to{
                         transform: rotate(10deg);
                    }
               }
          }
          #f{
               text-align: center;
               margin: 2rem 0 0 0;
               width: 100%;
               font-size: 1.75rem;
               padding: 0;
               text-align: center;
               font-family: 'Tillana', cursive;
               color: white;
               text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
               animation: bop3 2s ease-in-out infinite;
               @keyframes bop3 {
                    0%{
                         transform: scale(0.9);
                    }
                    50%{
                         transform: scale(1) rotateZ(3deg);
                    }
                    100%{
                         transform: scale(0.9);
                    }
               }
          }
     }
     #form{
          margin: 7rem auto 0.5rem;
          position: fixed;
          bottom: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;
          input{
               padding: 0 1vw 0 1vw;
               font-family: 'Roboto Slab', serif;
               font-size: 2rem;
               outline: none;
               width: 55vw;
               background-color: cyan;
               color: #004646;
               border: 0.2rem solid #004646;
               border-radius: 1.5rem 0 0 1.5rem;
          }
          button{
               padding: 0 1vw 0 1vw;
               font-family: 'Roboto Slab', serif;
               font-size: 2rem;
               width: 15vw;
               background-color: #004646;
               border: 0.2rem solid cyan;
               outline: none;
               color: cyan;
               cursor: pointer;
               border-radius: 0 1.5rem 1.5rem 0;
          }
     }
     #share{
          position: fixed;
          left: 50%;
          overflow: hidden;
          height: 0rem;
          transition: 0.5s ease-in-out;
          transform: translateX(-50%);
          width: 72.5vw;
          background-color: white;
          border-radius: 2rem 2rem 0 0;
          bottom: 0;
          z-index: 99;
          -ms-overflow-style: none;
          scrollbar-width: none;
          display: grid;
          place-items: center;
          &::-webkit-scrollbar {
               display: none;
          }
          p{
               font-size: 1.5rem;
               width: 65vw;
               padding: 1rem 0 1rem 0;
               text-align: center;
               font-family: 'Tillana', cursive;
          }
          ul{
               width: 70vw;
               display: flex;
               padding-left: 0;
               flex-direction: row;
               align-items: center;
               justify-content: space-around;
          }
          li{
               list-style: none;
               font-size: 3rem;
               transition: 0.25s ease-in-out;
               cursor: pointer;
               &:hover{
                    transform: scale(1.25);
               }
               &:active{
                    transform: scale(1.25);
               }
               a{
                    text-decoration: none;
               }
               &:nth-child(1){
                    a{
                         color: #25D366;
                         text-decoration: none;
                    }
               }
               &:nth-child(2){
                    a{
                         color: #0088CC;
                         text-decoration: none;
                    }
               }
               &:nth-child(3){
                    a{
                         color: #4267B2;
                         text-decoration: none;
                    }
               }
               &:nth-child(4){
                    a{
                         color: #1DA1F2;
                         text-decoration: none;
                    }
               }
          }
          button{
               width: 75vw;
               border: none;
               background: none;
               transition: 0.5s ease-in-out;
               font-size: 2.5rem;
               outline: none;
               i{
                    cursor: pointer;
               }
          }
          #acl{
               height: auto;
               display: none;
               margin: 1rem 0 2rem 0;
               padding: 1rem 1rem 0 1rem;
               background-color: #dcdcdc;
               border-radius: 0.5rem;
               border: 0.2rem solid #212529;
               img{
                    width: 70vw;
                    border-radius: 0.2rem;
                    border: 0.1rem solid #3a3a3a;
               }
               .card-body{
                    height: 7rem;
                    button{
                         outline: none;
                         width: 70vw;
                    }
               }
               .btn.btn-primary{
                    border-radius: 0.2rem;
                    color:#fff;
                    width: 70vw;
                    background-color:#0d6efd;
                    border: 0.1rem solid #0c56c4;
                    &:hover{
                         background-color: #2078fd;
                    }
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 1rem;
                    padding: 0.5rem;
                    margin: 1rem 0 0 0;
               }
               a.btn.btn-primary{
                    width: 70vw;
               }
          }
     }
}